<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Test Projekt 3druk</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 text-center">
    <h1>Welcome to 3D Print Hub</h1>
    <div class="mt-4">
        <a href="/register" class="btn btn-primary btn-lg d-block mb-3">Register</a>
        <a href="/login" class="btn btn-primary btn-lg d-block mb-3">Login</a>
    </div>
</div>
</body>
</html>
